/* CSS declarations go here */
.containerMod{

    margin-top:10px;
    width: 95%;
    margin-left: auto;
    margin-right:auto;
}


.student{

margin:2px;
padding:2px;
font-size: 20px;

}

.HISbutton{

background:#020A66;
color: #EBA100;
width: 100%;
}

.HISbutton:hover {

background:#EBA100;
color: #020A66;
}

.HIStext{

color: #020A66

}

.HISTagline{

 font-size: 80%;
 margin-top:-10px;

}

.HISBannerText{
font-size: 40px;
float:none;
margin:20px;



}
.HISbar{

background:#020A66;
color: #EBA100;
width: 100%;
}
.HISbar:active{

background:#EBA100;
color: #020A66;
width: 100%;
}

.no-house{

 color:black

}

.houseTotal{

 font-size:110%;
 padding:10px;


}

.badge-inverse{

 color:#020A66;
    background:#EBA100;

}
.chatWindow{

    overflow:auto;
    height: 300px;
    display:inline;


}
.chatUser{
 width:30%;



}
.chatMessage{

width:70%;


}
#chatTable{

 word-wrap: break-word;
    table-layout:fixed;
    width: 100%;

}

#chatEntry{

width:95%;
}

#studentList{

height: 400px;
overflow:auto;


}
.outline{

  border:solid #020A66 1px;
 border-radius: 5px;
 padding: 3px;
 overflow:auto;
 height:400px;

}

.outlineLogin{


 padding: 5px;

}



studentInformation{

    overflow:auto;
    height: 400px;
    display:inline;
}
.selected{

    background:#EBA100;

}

.HISGold{

    color:#EBA100;

}
.HISBlue{

    color:#020A66;

}
.outlineHP{


 padding: 5px;
 overflow:auto;

}

tr:hover{

background:#EEE;


}

#housePointsCompetitionComment{

 width:50%;
}

shortHr{

 width:50%;

}

.kKwai{

 font-size:20px;
 color:red;

}

#communitycurrency{

 opacity:0;

}

.red-house{

color: rgb(232,67,60);

}
.blue-house{

color: rgb(10,114,205);

}
.green-house{

color: rgb(111,193,132);

}
.yellow-house{

color: rgb(236,186,32);

}

.noBullets{

  list-style-type: none;

}

#userAdminContainer{

background-color:#ccc;  

}
