/* CSS declarations go here */
.container{
 
    margin-top:10px;
    
    
}


.student{

margin:2px;
padding:2px;
font-size: 20px;

}

.HISbutton{

background:#020A66;
color: #EBA100;
width: 100%;
}

.HISbutton:hover {

background:#EBA100;
color: #020A66;
}

.HIStext{

color: #020A66

}

.HISTagline{
    
 font-size: 80%;
    
}

.HISBannerText{
font-size: 60px;
float:none;
margin:40px;



}
.HISbar{

background:#020A66;
color: #EBA100;
width: 100%;
}
.HISbar:active{

background:#EBA100;
color: #020A66;
width: 100%;
}

.no-house{
    
 color:black
    
}

.houseTotal{
    
 font-size:180%;
 
    
}

.badge-inverse{
    
 color:#020A66;
    background:#EBA100;
    
}
.chatWindow{
    
    overflow:auto;
    height: 300px;
    display:inline;
   
    
}
#studentList{
    
height: 300px;
overflow:auto;

    
}
.outline{
    
 border:solid #020A66;
 border-radius: 5px;
 padding: 15px;
 margin-left: 15px;
 margin-top: -5px;
 height: 300px;
 overflow:auto;
    
}
studentInformation{
    
    overflow:auto;
    height: 300px;
    display:inline;
   
    
}
.selected{
    
    background:#EBA100;
    
    
    
}

.HISGold{
    
    color:#EBA100;
    
}
.HISBlue{
    
    color:#020A66;
    
}
.outlineHP{
    
 border:solid #020A66;
 border-radius: 5px;
 padding: 15px;
 margin-left: 15px;
 margin-top: -5px;
 overflow:auto;
    
}