<template name = "chatWindow">
<div class = "span6 chatWindow outline">

  <textarea  rows = "2" placeholder = "Enter message here." id = "chatEntry"></textarea>
  <button class="btn" id = 'sendChatMessage'>Send Message</button>

<table class = "table  table-condensed" id = "chatTable">
    {{#each chatMessage}}
    {{>chatLine}}
    {{/each}}
</table>
</div>
</template>



<template name = "chatLine">
   
<tr><td class = "chatUser">{{user}}:<br><span style = "font-size:0.5em;">{{cleanDate submittedAt}}</span> </td><td class = "chatMessage">{{message}}</td></tr>
   
</template>

