<template name = "chatWindow">
<div class = "span3 chatWindow outline">
<form class="form-search">
  <textarea class="input-medium search-query" rows = "4" placeholder = "Enter message here." id = "chatMessage" cols = "60"></textarea>
  <button class="btn" id = 'sendChatMessage'>Send Message</button>
</form>
<table class = "table  table-condensed" id = "chatTable">
    {{#each chatMessage}}
    {{>chatLine}}
    {{/each}}
</table>
</div>
</template>



<template name = "chatLine">
   
<tr><td class = "chatUser">{{user}}:<br><span style = "font-size:0.5em;">{{cleanDate submittedAt}}</span> </td><td class = "chatMessage">{{message}}</td></tr>
   
</template>

