<template name = "kwaiPage">
<div class = "row">
<div class = "col-md-3" id = "giveKwaiForm">
    {{>giveKwai}}
</div>
<div class = "col-md-6">
    {{>kwaiList}}
</div>
<div class = "col-md-3">
    {{>kwaiTable}}
</div>
</div>

</template>


<template name = "giveKwai">


<form class = "form-horizontal">
<div class = "control-group">
<label>I'm giving:</label>
<select id = "selectUserKwai" class = "select form-control">
<option value = ''></option>
{{#each user}}
<option value = "{{username}}">{{username}}</option>
{{/each}}
</select>
</div>

<div class = "control-group">
<select id = "numOfKwai" class = "form-control">
<option value = ''></option>
<option value = "1">1</option>
<option value = "2">2</option>
<option value = "3">3</option>
</select>
</div>
<div class = "control-group">
<label>points for...  </label>
<input type = "text" placeholder = "Why are you giving these points?" id = "kwaiReason" class = "form-control">
</div>
<button class = "btn btn-primary" id = "submitKwai">Submit</button>

</form>


</template>

<template name = "kwaiItem">
<div class = "row">
<div class = "col-md-4 kKwai">{{points}}</div>
<div class = "col-md-4 text-left"><strong>To: </strong> {{givenTo}}</div>
<div class = "col-md-4 text-left"><strong>From: </strong>  {{from}}</div>

</div>
<div class = "row">
<div class = "col-md-6 text-left">
Reason: {{reason}}
</div>
</div>
<div class = "row">
<div class = "col-md-4 text-left">
Date: {{date.toDateString}}
</div>
</div>
<div class = "row">
<div class = "col-md-4 col-md-offset-4">
    {{likes}}<a href = "#"> Likes</a>
</div>
</div>

<hr class = "shortHr">
</template>

<template name = "kwaiList">
<div class = "col-md-12 bg-success">
    {{#each kwai}}
    {{>kwaiItem}}
    {{/each}}
</div>
</template>

<template name = "kwaiTable">
<table class = "table">
<tr><td>User</td><td>Given:</td><td>Received:</td></tr>
{{#each user}}
<tr><td>{{username}}</td><td>{{kwaiGiven}}</td><td>{{kwaiReceived}}</td></tr>
{{/each}}

</table>
</template>
