
<template name = "teacherContent">
{{#if currentUser}}
     
   
     {{> addStudents}}
     {{> editStudents}}
    
    {{> addActivity}}
<div class = "row-fluid"> 
{{>chatWindow}}
	{{#if selectStudent}}
    
    {{> studentAutoComplete}}
    {{/if}}
    {{#if browseLog}}
    {{> incidentList}}
    {{/if}}
    {{#if housePoints}}
   
    {{> housePointsList}}
    {{/if}}
    {{#if showActivities}}
    {{> showActivities}}
    {{/if}}
    {{>selectedStudentInformation}}
 
</div>

 {{/if}}

</template>

<template name = "teacherButtonBar">
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand HISText" href="/">Teachers</a>
    <ul class = "nav">
        
    </ul>
    <ul class="nav">
     <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      Students
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li id = "selectStudent"><a href="#">Student Selection</a></li>
      <li id = "browseLog"><a href="#">Browse Student Log</a></li> 
      <li id = "addStudents"><a href = "#addStudent" data-toggle="modal">Add Student</a></li>
    </ul>
  </li>
     <li class = "dropdown">   
    <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">House Points <b class="caret"></b></a>
    <ul class = "dropdown-menu">        
      <li id = "housePoints"><a href="/">Browse House Points</a></li>
      <li id = "addHouseCompetitionPoints"><a href="/house/addpoints/">Add House Competition Points</a></li>
     </ul> 
     </li>
       <!--
      <li class = "dropdown">
      <a href = "#" class="dropdown-toggle" data-toggle="dropdown">
       Activities
      <b class="caret"></b>
      </a>
     <ul class = "dropdown-menu">
          
      <li id = "addActivity"><a href = "#addAnActivity" data-toggle="modal">Add Activities</a></li>
      <li id = "showActivitiesMenu"><a href = "/showActivities/" >Show Activities</a></li>
      <li id = "showMyActivitiesMenu"><a href = "/myActivities/">My Activities</a></li>
           
          
     </ul>
     </li>
    -->    
    </ul>
    <ul class="nav">
  
  
</ul>
  </div>
</div>
</template>

<template name = "studentContent">
    
{{>studentInformationFrontPage}}
    
</template>

<template name = "studentButtonBar">
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand HISText" href="/">Students</a>
    <ul class = "nav">
      
    </ul>
    <ul class="nav">
     <li class="dropdown">

      
     </li>
     
    </ul>
   
  </div>
</div>


</template>





<template name = "studentSignupForm">
    {{#unless IsLoggingIn}}
<div class = "row">
<div class = "span6 offset3">
<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="signupInputEmail">Email</label>
    <div class="controls">
      <input type="text" required class = "signupForm" id="signupInputEmail" placeholder="Email">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Enter a password of at least six characters:</label>
 
    <div class="controls">
      <input type="password" required class = "signupForm" id="signupInputPassword" placeholder="Enter password">
   
    </div>
    </div>
   <div class="control-group">
    <label class="control-label" for="verifyPassword">Enter your password again:</label>
 
    <div class="controls">
      <input type="password" required class = "signupForm" id="signupVerifyPassword" placeholder="Enter password again">
   
    </div>
    </div>  
 <div class="control-group">
    <label class="control-label" for="studentID">HIS ID Number:</label>
    <div class="controls">
      <input type="number" required class = "signupForm" id="signupStudentID" placeholder="Student ID (XXXXX)">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="studentID">First three letters of Family Name:</label>
    <div class="controls">
      <input type="text" required class = "signupForm" id="signupLastName" placeholder="XXX">
    </div>
  </div>
   <div class="control-group">
   <div class = "controls">
    <button type="submit" class="btn" id = "studentSignupCreateButton">Create account</button>
    </div>
  </div>
  </form>
  </div>
 </div>
    {{/unless}}
 

 {{#if IsLoggingIn}}
<p class = "text-center">Logging in to DragonTrack...</p>
    {{/if}}

</template>


<template name = "studentInformationFrontPage">

<div class = "row-fluid">
<div class = "span6 offset3">
<h4>Today's DragonTime location is: <span class = "HISBlue">{{dragonTimeLocation}}</span></h4>
</div>    

</div>
<div class = "row-fluid">
<div class = "span6 offset3">
<!--<a href = "/student/sign-up/"><h4>Click here to make yourself a student account for <span class = "HISBlue">Dragon</span><span class = "HISGold">Track</span>.</h4></a>  -->  
</div>
</div>
<div class = "row-fluid">
<div class = "span6 offset3">
Enter your information below and then click <span class = "text-info">here</span> to view current voting options:    
    {{>votingMakeSelection}}
<hr>
</div>    
</div>   
</template>
