

<template name = "selectedStudentInformation">
    
{{#if studentIsSelected}}
<div class = "span3 outline" id = "studentInformation" > 
<!--    
<button id = 'editProfile' href = "#editStudent"><h6>Edit Profile</h6></button><button id = 'viewStudentPoints'><h6>View Points Earned</h6></button>
-->


<div class = "form-group">
<label class = "sr-only {{houseClass}}">Add House Points</label>
<select name = "addHousePoints" class = "form-control input-xxmed" id = "addHousePoints">
<option value ="0"  selected ="selected">Select Points to Add</option>
<option value="1" >1 Point</option>
<option value="2">2 Points</option>
<option value="3">3 Points</option>
</select>
    
    
    <input type = "text" class = "input-xxmed" rows = "2" placeholder = "Why were these points earned?" name = "pointsComments"><button  class = "btn addHousePoints HISbutton "> Add house points</button>
    
</div>


</div>
{{/if}}


</template>

<template name = "incidentEntry">
<div class = "form-group">
<textarea  name = "comment" class = "form-control input-xxmed" placeholder = "Write a quick description of what happened in this space." rows="2"></textarea><button  class = "btn btn-primary submitIncident HISbutton"> Submit incident</button>
</div>
<p></p>

</template>

<template name = "selectGrade">
<p class = "text-center">

<select id = "grade">
<option value ="0"  selected ="selected"></option>
<option value="6" >6th</option>
<option value="7">7th</option>
<option value="8">8th</option>
<option value="9">9th</option>
<option value="10">10th</option>
<option value="11" >11th</option>
<option value="12">12th</option>
</select>

</p>






</template>

<template name = "studentList">


or select by grade:
{{>selectGrade}}

{{#each students}}
<div class = "student">
<div class = "studentInfo"><h4 class = "HIStext" id = "name_{{_id}}">{{name}} {{>incidentBadge}}</h4></div>

</div>

{{/each}}

</template>

<template name = "studentAutoComplete">
<div class = "span6 outline" id = "studentList">
<div class = "ui-widget">
Enter the student's name:
<p class = "text-center"><input type="text" id = "studentComplete"></p>

{{>studentList}}
</div>
</div>
</template>



<template name = "addStudents">
       
<!-- Modal -->
<div id="addStudent" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add Student</h3>
  </div>
  <div class="modal-body">
  
      
<form class="form-horizontal">
<div class="control-group">
<label class = "control-label">Name:</label> 
<div class = "controls">
<input type = "text" name = "studentName">
 </div>
  </div>
<div class="control-group">
<label class = "control-label">Grade:</label> 
<div class = "controls">
<select name = "grade">
<option value ="0"  selected ="selected"></option>
<option value="6" >6th</option>
<option value="7">7th</option>
<option value="8">8th</option>
<option value="9">9th</option>
<option value="10">10th</option>
<option value="11" >11th</option>
<option value="12">12th</option>
</select>
 </div>
  </div>
        
  <div class="control-group">
    <label class="control-label" for="studentID">ID Number:</label>
    <div class="controls">
      <input type="number" name="studentID" placeholder="Student ID (XXXXX)">
    </div>
  </div>
  
  <div class="control-group">
    <label class = "control-label">Advisor:</label> 
<div class = "controls">
<select name = "advisor">
<option value ="0"  selected ="selected"></option>
<option value="Fox, Jebediah" >Fox, Jebediah</option>
<option value="Sanchez, Andres" >Sanchez, Andres</option>
<option value="Haag, Jacob">Haag, Jacob</option>
<option value="Reuwer, Terrence">Reuwer, Terrence</option>
<option value="Payne, Hannah">Payne, Hannah</option>
<option value="Deerwester, Justin">Deerwester, Justin</option>
<option value="Searle, Richard">Searle, Richard</option>
<option value="Weinberg, Evan" >Weinberg, Evan</option>
<option value="Rooth, Mary">Rooth, Mary</option>

</select>
 </div>    
 </div>      

<div class="control-group">
<label class = "control-label">Gender:</label> 
<div class = "controls">
<select name = "gender">
<option value ="0"  selected ="selected"></option>
<option value="M" >M</option>
<option value="F">F</option>
</select>
 </div>
  </div>

<div class="control-group">
<label class = "control-label">House:</label> 
<div class = "controls">
<select name = "house">
<option value ="0"  selected ="selected"></option>
<option value="G" >Spring</option>
<option value="R">Summer</option>
<option value="Y" >Fall</option>
<option value="B">Winter</option>
</select>
 </div>
  </div>    
    
<div class="control-group">
<label class = "control-label">Date of Birth:</label> 
<div class = "controls">
<input type = "text" name = "dob">
</div>
</div>    

<div class="control-group">
<label class = "control-label">Nationality:</label> 
<div class = "controls">
<input type = "text" name = "nationality">
</div>
</div>    
    
<div class="control-group">
<label class = "control-label">Guardian Email 1:</label> 
<div class = "controls">
<input type = "text" name = "guardianemail1">
</div>
</div>
    
<div class="control-group">
<label class = "control-label">Guardian Email 2:</label> 
<div class = "controls">
<input type = "text" name = "guardianemail2">
</div>
</div>

<div class="control-group">
<label class = "control-label">Father Phone:</label> 
<div class = "controls">
<input type = "text" name = "fatherphone">
</div>
</div>
    

    
<div class="control-group">
<label class = "control-label">Mother Phone:</label> 
<div class = "controls">
<input type = "text" name = "motherphone">
</div>
</div>
    
    
</form>  
       
</div>
    
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" id = "addStudentButton">Add Student</button>
  </div>
</div>
      
</template>

<template name = "editStudents">
       
<!-- Modal -->
<div id="editStudent" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Edit Student: {{currentlySelectedStudent}}</h3>
  </div>
  <div class="modal-body">
  
      
<form class="form-horizontal">
<div class="control-group">
<label class = "control-label">Name:</label> 
<div class = "controls">
<input type = "text" name = "studentName" >
 </div>
  </div>
<div class="control-group">
<label class = "control-label">Grade:</label> 
<div class = "controls">
<select name = "grade">
<option value ="0"  selected ="selected"></option>
<option value="6" >6th</option>
<option value="7">7th</option>
<option value="8">8th</option>
<option value="9">9th</option>
<option value="10">10th</option>
<option value="11" >11th</option>
<option value="12">12th</option>
</select>
 </div>
  </div>
        
  <div class="control-group">
    <label class="control-label" for="studentID">ID Number:</label>
    <div class="controls">
      <input type="number" name="studentID" placeholder="Student ID (XXXXX)" >
    </div>
  </div>
  
  <div class="control-group">
    <label class = "control-label">Advisor:</label> 
<div class = "controls">
<select name = "advisor">
<option value ="0"  ></option>
<option value="Fox, Jebediah" >Fox, Jebediah</option>
<option value="Sanchez, Pedro Andres" >Sanchez, Pedro Andres</option>
<option value="Haag, Jacob">Haag, Jacob</option>
<option value="Reuwer, Terrence">Reuwer, Terrence</option>
<option value="Payne, Hannah">Payne, Hannah</option>
<option value="Deerwester, Justin">Deerwester, Justin</option>
<option value="Searle, Richard">Searle, Richard</option>
<option value="Weinberg, Evan" >Weinberg, Evan</option>
<option value="Rooth, Mary">Rooth, Mary</option>

</select>
 </div>    
 </div>      

<div class="control-group">
<label class = "control-label">Gender:</label> 
<div class = "controls">
<select name = "gender">
<option value ="0" ></option>
<option value="M" >M</option>
<option value="F">F</option>
</select>
 </div>
  </div>

<div class="control-group">
<label class = "control-label">House:</label> 
<div class = "controls">
<select name = "house">
<option value ="0"  ></option>
<option value="G" >Spring</option>
<option value="R">Summer</option>
<option value="Y" >Fall</option>
<option value="B">Winter</option>
</select>
 </div>
  </div>    
    
<div class="control-group">
<label class = "control-label">Date of Birth:</label> 
<div class = "controls">
<input type = "text" name = "dob" >
</div>
</div>    

<div class="control-group">
<label class = "control-label">Nationality:</label> 
<div class = "controls">
<input type = "text" name = "nationality" >
</div>
</div>    
    
<div class="control-group">
<label class = "control-label">Guardian Email 1:</label> 
<div class = "controls">
<input type = "text" name = "guardianemail1" >
</div>
</div>
    
<div class="control-group">
<label class = "control-label">Guardian Email 2:</label> 
<div class = "controls">
<input type = "text" name = "guardianemail2" >
</div>
</div>

<div class="control-group">
<label class = "control-label">Father Phone:</label> 
<div class = "controls">
<input type = "text" name = "fatherphone" >
</div>
</div>
    

    
<div class="control-group">
<label class = "control-label">Mother Phone:</label> 
<div class = "controls">
<input type = "text" name = "motherphone" >
</div>
</div>
    
    
</form>  
       
</div>
    
<div class="modal-footer">
    <button class = 'deleteStudent btn'>Delete Student</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" id = "updateStudentButton">Update Student</button>
  </div>
</div>
      
</template>

<template name = "viewIncidents">
       

<div id="viewIncidents" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">{{currentStudent}}</h3>
  </div>
  <div class="modal-body">
  <table class = "table  table-condensed">
      {{#each incidents}}
      
      
      <tr class = {{winClass}}><td><h5>{{date}}</h5></td><td><h6>{{comments}}</h6></td><td><h6 class = "text-info">{{user}}</h6></td></tr>
      
      {{/each}}
      
       </table>
</div>
    
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    
  </div>
</div>
      
</template>

<template name = "incidentBadge">
    {{#if numberOfIncidents}}
<span class="badge badge-inverse">{{numberOfIncidents}}</span>    
    {{/if}}

</template>

<template name = "studentPointsList">


<div id="studentPointsList" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">{{currentStudent}}</h3>
  </div>
  <div class="modal-body">
  <table class = "table  table-condensed">
      {{#each addPoints}}
<tr class = {{houseClass}}><td ><h5>{{date}}</h5></td><td><h5>{{points}}</h5></td><td><h6>{{comments}}</h6></td><td>{{reportedBy}}</td></tr>
{{/each}}
      
       </table>
</div>
    
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    
  </div>
</div>    
 
</template>